*.csv filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.nam filter=lfs diff=lfs merge=lfs -text
*.dis filter=lfs diff=lfs merge=lfs -text
*.bas filter=lfs diff=lfs merge=lfs -text
*.drn filter=lfs diff=lfs merge=lfs -text
*.ghb filter=lfs diff=lfs merge=lfs -text
*.riv filter=lfs diff=lfs merge=lfs -text
*.cpg filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.sbn filter=lfs diff=lfs merge=lfs -text
*.sbx filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text

